.page{
	font-family: "Courier New', monospace;
	font-style: normal;
	font-size: 14pt;
    background-color: #fff0db;
}

.content {
  overflow: hidden;
  background-color: #fff0db;
  padding: 20px 10px;
}

.inputbox{
	padding: 0.25%;
	margin-top: 0%;
}

.whitespace{
	white-space: pre-line;
}

.varwidth{
	width: 50%;
}

.footer-basic {
  padding:40px 0;
  background-color: #B0E0E6
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}


.footer-basic .copyright {
  margin-top:0px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


.thin-border{
    border: 1px solid;
}





