{% extends 'layout.html' %}
{% block body %}

<!--work in progress, could use a short introduction!-->
<div>
    <h1 class="container">Purpose:</h1>
<p class="container">When writing poetry or lyrics, the writer sometimes wants to follow specific rhyme schemes or
patterns of word stresses (known as scansion). Tools to find these lexical tools are spread out across rhyming dictionaries
and dictionaries. This tool seeks to find these pattern matches in one place.</p>
</div>
    <h2 class="container">Reading the results:</h2>
<p class="container">The results page shows the word that was searched for
    and then | a combination of the letters u, p, and s (where applicable).
    <ul class="centered">
    <li>'u': denotes an unstressed syllable</li>
    <li>'p': denotes the placement of the primary stressed syllable</li>
    <li>'s': denotes secondary stresses. They are most often treated as unstressed
    syllables</li>
</ul>
</p>

{% endblock %}