<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=0.8">

	<title>{{ config.SITE_NAME }}</title>
	<style>


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #CEAD6D;
}

.collapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #BACBDB;
}
</style>
</head>
<body>
	<div class="page">
		<div class="header">
					{% include 'header.html' %}
	</div>
<!--		<div class="content">-->
		<div>
		{% block body %}{% endblock %}
	</div>
</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
</body>
<footer>
<div class="page">
	<div class="footer-basic">
			{%include 'footer.html'%}
		</div>
			{% if errors %}
			<div class="errors">
				{% for error in errors%}
					<p class="errors">
						{{error}}
					</p>
			{% endfor %}
		</div>
		{% endif %}
		<div class="content">
			{% block footer %}{% endblock %}
		</div>
</div>
</footer>
</html>
